@charset "utf-8";
@import "reset.css";
@import "font.css";

.wrap {
  display: flex;
  flex-direction: row;
}

#wrap-left {
  width: 49.4vw;
  height: 100vh;
  background-size: cover;
  background-image: url(../images/Rectangle\ 1.svg);
}

#wrap-left-text {
  display: flex;
  height: 94vh;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#wrap-left-text span {
  width: 77%;
}

#wrap-left-text span:nth-child(1) {
  font-family: "NotoSans";
  font-weight: 900;
  font-size: 2.7vw;
  color: #ffffff;
}

#wrap-left-text span:nth-child(2) {
  font-family: "NotoSans";
  font-weight: 900;
  font-size: 2.7vw;
  color: #ffffff;
}

#wrap-left-text span:nth-child(3) {
  margin-top: 20px;
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 1.35vw;
  color: #ffffff;
}

#wrap-right {
  width: 50.6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wrap-right span,
#id_pw input,
#id_pw,
#fn_box,
#login_btn {
  min-width: 430px;
  width: 29.86vw;
}

#wellcome {
  display: flex;
  flex-direction: column;
}

#wellcome span:nth-child(1) {
  font-family: "NotoSans";
  font-weight: 900;
  color: black;
  font-size: 2.5vw;
}

#wellcome span:nth-child(2) {
  font-family: "NotoSans";
  font-weight: normal;
  color: black;
  font-size: 1.73vw;
  margin-top: 5px;
}

#id,
#pw {
  height: 48px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

#id {
  margin-top: 21px;
}

#pw {
  margin-top: 15px;
}

#id::placeholder,
#pw::placeholder {
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 1.38vw;
  color: #000000;
}

#id:focus,
#pw:focus {
  outline: none;
}

#fn_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
}

#fn_box_right span {
  text-decoration: underline;
  cursor: pointer;
}

#login_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #060606;
  border-radius: 6px;
  margin-top: 60px;
}

#login_btn span {
  text-align: center;
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 1.1vw;
  color: white;
}
