@charset "utf-8";
@import "reset.css";
@import "font.css";

.wrap {
  display: flex;
  flex-direction: row;
}

.wrap-left {
  width: 49.4vw;
  height: 100vh;
  background-size: cover;
  background-image: url(../images/Rectangle\ 1.svg);
}

.wrap-left-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 94vh;
}

.wrap-left-text span {
  width: 74.85%;
}

.wrap-left-text span:nth-child(1),
.wrap-left-text span:nth-child(2) {
  font-family: "NotoSans";
  font-weight: 900;
  font-size: 2.77vw;
  color: #ffffff;
}

.wrap-left-text span:nth-child(2) {
  margin-top: 10px;
}

.wrap-left-text span:nth-child(3) {
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 1.38vw;
  color: #ffffff;
  margin-top: 20px;
}

.wrap-right {
  width: 50.56vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  display: flex;
  flex-direction: column;
}

/* // login_box -> login_btn 수정 */
.wrap-right-box,
.header span,
.input-box input,
.sign-info input,
.fn_box,
.login_btn,
.sign_box,
.submit-btn {
  min-width: 430px;
  width: 59.06%;
}

.header {
  display: flex;
  flex-direction: column;
}

.header span:nth-child(1) {
  font-family: "NotoSans";
  font-weight: 900;
  font-size: 2.5vw;
}

.header span:nth-child(2) {
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 1.38vw;
  margin-top: 12px;
}

/* #id, */
/* #pw,
.email,
.email_valid,
.sign-info input {
  height: 48px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-size: 1.38vw;
} */

.input-box input {
  height: 48px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-size: 1.38vw;
}

/* #id,
#email {
  margin-top: 21px;
} */

.input-box input:nth-child(1) {
  margin-top: 21px;
}

.input-box input:not(:nth-child(1)),
.sign-info input {
  margin-top: 15px;
}

/* 
#pw,
#valid,
.sign-info input {
  margin-top: 15px;
} */

/* #id::placeholder,
#pw::placeholder,
#email::placeholder,
#valid::placeholder,
.sign-info input::placeholder {
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 1.38vw;
  color: #000000;
} */

.input-box input::placeholder {
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 1.38vw;
  color: #000000;
}

/* #id:focus,
#pw:focus,
#email:focus,
#valid:focus,
.sign-info input:focus {
  outline: none;
} */

/* 위에꺼 밑으로 수정 */
.input-box input:focus {
  outline: none;
}

.fn_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
}

.fn_box_left span {
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 1.04vw;
}

.fn_box_right span {
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 1.04vw;
  text-decoration: underline;
  cursor: pointer;
}

.login_btn,
/* // login_box -> login_btn 수정 */
.submit-btn {
  margin-top: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #060606;
  border-radius: 6px;
  cursor: pointer;
}

.login_btn span,
/* // login_box -> login_btn 수정 */
.submit-btn span {
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 1.11vw;
  color: white;
}

.sign_box {
  margin-top: 16px;
  text-align: center;
}

.sign_box span:nth-child(1) {
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 1.11vw;
}

.sign_box span:nth-child(2) {
  font-family: "NotoSans";
  font-weight: 500;
  font-size: 1.11vw;
  text-decoration: underline;
  cursor: pointer;
}

.fn_box_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup-submit {
  transform: translateY(-295px);
}

#find-submit {
  transform: translateY(-95px);
}

/* 테스트를 위해 작성 */

.login-box {
  display: none;
}
.signup_box {
  display: none;
}

/* .find_box {
  display: none;
} */

#sign_pw,
#sign_name,
#sign_nick {
  visibility: hidden;
}

.icono-arrow1-left {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}
.icono-arrow1-left::after,
.icono-arrow1-left::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
}
.icono-arrow1-left::after {
  width: 16px;
  height: 16px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  bottom: 7px;
}
.icono-arrow1-left::before {
  width: 24px;
  height: 2px;
  bottom: 14px;
  background: currentColor;
}
