@import "reset.css";
@import "font.css";

.wrap {
  display: flex;
  flex-direction: row;
}

.wrap-left {
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap-left span {
  font-family: "NotoSans";
  font-size: 3vw;
  font-weight: normal;
}

.wrap-left div:first-child {
  margin-top: 30px;
}

.wrap-left div:not(:last-child) {
  margin-bottom: 20px;
}

.wrap-left div > span {
  cursor: pointer;
}

.wrap-left-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #eff3f4;
  padding: 20px;
  border-radius: 100px;
}

.wrap-left-search img {
  width: 15px;
  height: 15px;
}

.wrap-left-search input {
  border: none;
  margin-left: 10px;
  background: none;
}

.wrap-left-search input:focus {
  outline: none;
}

.wrap-right {
  width: 70vw;
  height: 100vh;
}

.wrap-right-top {
  width: 80%;
  background-color: #eff3f4;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#desc {
  height: 220px;
}

.text {
  resize: none;
}

.submit-btn {
  height: 30px;
  width: 100px;
  background-color: #1d9bf0;
  cursor: pointer;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 73%;
  margin-top: 7px; */
}

#desc-btn {
  margin-top: 7px;
  float: right;
}

.wrap-right-bottom {
  margin-top: 30px;
  overflow-y: scroll;
  width: 80%;
  height: calc(100% - 353px);
}

.wrap-right-bottom::-webkit-scrollbar {
  width: 6px;
}

.wrap-right-bottom::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: black;
  border-radius: 10px;
}

.board-content {
  width: 80%;
  background-color: #eff3f4;
  border-radius: 50px;
  padding: 30px;
  margin-top: 30px;
}

.content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-middle {
  margin-top: 30px;
}

.comment-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
