@import "reset.css";
@import "font.css";

html {
  min-width: 700px;
}
.wrap {
  display: flex;
  flex-direction: row;
}

.wrap-left {
  width: 49.44vw;
  height: 100vh;
  background-image: url(../images/Rectangle\ 1.svg);
  background-size: cover;
}

.wrap-left-text span:nth-child(1),
.wrap-left-text span:nth-child(2) {
  font-family: "NotoSans";
  font-weight: 900;
  font-size: 2.77vw;
  color: #ffffff;
}

.wrap-left-text span:nth-child(2) {
  margin-top: 10px;
}

.wrap-left-text span:nth-child(3) {
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 1.2vw;
  color: #ffffff;
  margin-top: 20px;
}

.wrap-left-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 94vh;
}

.wrap-left-text span {
  width: 74.85%;
}

.wrap-right {
  width: 50.56vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 450px;
}

.wrap-right-box {
  display: flex;
  flex-direction: column;
}

.wrap-right-box,
.header span,
.input-box input,
.fn_box,
.login_box,
.sign_box {
  min-width: 430px;
  width: 59.06%;
}

.header {
  display: flex;
  flex-direction: column;
}

.header span:nth-child(1) {
  font-family: "NotoSans";
  font-weight: 900;
  font-size: 2.5vw;
}
.header span:nth-child(2) {
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 1.33vw;
  margin-top: 12px;
}

/* #id, #pw */
.input-box input {
  height: 48px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-size: 1.38vw;
}

.input-box input:nth-child(1) {
  margin-top: 21px;
}

/* 1번말고 나머지는 margin-top: 15px */
.input-box input:not(:nth-child(1)) {
  margin-top: 15px;
}

.input-box input:focus {
  outline: none;
}

.input-box input::placeholder {
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 1.38vw;
  color: #000000;
}

.fn_box {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fn_box_left span {
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 1.04vw;
}

.fn_box_right span {
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 1.04vw;
  text-decoration: underline;
  cursor: pointer;
}

.submit-btn {
  margin-top: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #060606;
  border-radius: 6px;
  cursor: pointer;
}

.submit-btn span {
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 1.11vw;
  color: white;
}

.sign_box {
  margin-top: 16px;
  text-align: center;
}

.sign_box span:nth-child(1) {
  font-family: "NotoSans";
  font-weight: normal;
  font-size: 1.11vw;
}

.sign_box span:nth-child(2) {
  font-family: "NotoSans";
  font-weight: 500;
  font-size: 1.11vw;
  text-decoration: underline;
  cursor: pointer;
}

.fn_box_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.find_box {
  display: none;
}

.icono-arrow1-left {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}
.icono-arrow1-left::after,
.icono-arrow1-left::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
}
.icono-arrow1-left::after {
  width: 16px;
  height: 16px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  bottom: 7px;
}
.icono-arrow1-left::before {
  width: 24px;
  height: 2px;
  bottom: 14px;
  background: currentColor;
}

.visi-hidden {
  visibility: hidden;
}

#find_submit {
  transform: translateY(-175px);
}
.signup-box {
  display: none;
}

#signup-submit {
  transform: translateY(-300px);
}

#dongle {
  width: 50.56vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 49.44vw;
  opacity: 0.5;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.visible {
  display: flex !important;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
